/* ==========================================================================
   Typography
   ========================================================================== */

body,
button {
    font-family: serif;
    font-size: 1.25rem;
}

h1 {
    animation: blinker 1s steps(5, start) infinite;
    font-family: fantasy;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 1rem;
}

p {
    margin: 0 0 1rem;
}

/* ==========================================================================
   Forms
   ========================================================================== */

button {
    background: #000;
    border: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    transition: 1s steps(4, end);
}

button[disabled] {
    background: #777;
}

button:focus,
button:hover {
    background: #777;
}

/* ==========================================================================
   Lists
   ========================================================================== */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0 0 1rem;
}

/* ==========================================================================
   Links
   ========================================================================== */

a {
    color: black;
    transition: 1s steps(4, end);
}

a:hover,
a:focus {
    color: #777;
}

.link {
    border-bottom: 1px dashed;
}

/* ==========================================================================
   Layout
   ========================================================================== */

html {
    cursor: url("/assets/images/cursors/cursor-leave.svg"), auto;
}

body {
    padding: 2rem;
}

.card {
    margin-bottom: 4rem;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer nav {
    margin: 0 0 1rem;
}

.portrait {
    border-radius: 50%;
    filter: grayscale(100%);
    width: 4rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide and show with animation
 */

.hidden {
    animation: display-fade 1s steps(4, end);
    display: none;
    opacity: 0;
}

.visible {
    display: block;
    opacity: 1;
}

/*
 * "Animate" both display and transform, based on
 * https://jdsteinbach.com/css/snippet-animate-display-transform/
 */

@keyframes display-fade {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blinker {
    to {
        visibility: hidden;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 576px) {
    body,
    button {
        font-size: 2rem;
    }

    h1 {
        font-size: 5rem;
        letter-spacing: 0.5rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 7.5rem;
    }

    body {
        padding: 4rem;
    }
}
